:root{
    --accent: rgba(132, 179, 46, 0.768);
    --main: black;
    --pink: rgb(230, 0, 255);
}

* {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    margin: 0;
    padding:4% 4% 1% 4%;
    display: block;
    background-color: var(--accent);
    color: var(--main);
    border: var(--main) 10px solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    line-height: 200%;
}

nav {
    display: inline;
    text-align: space-between;
    font-size: 1.75rem;
    list-style-type: none;
}
#HS {
    position: absolute;
}
#HS:hover {
    transform: scale(1.3);
}
a:link { 
    color: var(--pink); }
a:visited {
    color:var(--pink);
}
#time {
    text-align: right;
}
main {
    display:flexbox;
    color: var(--accent);
    margin: 15%;
    padding: 5%;
    text-align: center;
    background-color:var(--main);
    border: 10px var(--accent) solid;
    font-size: 2.5rem;
    line-height: 3rem;
    box-shadow: 10px 5px 5px var(--pink); 
}
button {
    display:flexbox;
    margin: 5%;
    padding: 5%;
    font-size: 1.5rem;
    box-shadow: 8px 4px 4px var(--pink); 
}
button:hover {
    transform: scale(1.3);
}
 ul {
    list-style-type:lower-alpha;
 }
.options {
   display:none;
 }
.options:onclick {
    color : white;
    display:block;
}

 